<!-- offer_button.liquid -->
{{ 'iwt-modal-styles.css' | asset_url | stylesheet_tag }}

{% assign default_variant = product.variants.first.id %}
{% if template_suffix == blank or template_suffix == null %}
  {% assign pagetemplate = template %}  
{% elsif template_suffix == 'iwtclearance' %}
  {% assign pagetemplate='iwtclearance' %}
{% elsif template_suffix == 'iwantthat' %}
  {% assign pagetemplate = 'iwantthat' %}
{% endif %}
{% assign storeUrl = shop.url %}


  <button 
    id="iwt-modal-offer-button"
    class="iwtOfferButton"
    onclick="openOfferModal({ storeUrl: '{{storeUrl}}', default_variantID: '{{ default_variant}}', template: '{{ pagetemplate }}'})">
    Wanna Make a Deal?
    <img src="{{ 'iwtlogoicon.png' | asset_url }}" class="iwtLogoIcon" width="35" height="35"> 
  </button>


{% style %}
.iwtOfferButton {
    display:flex !important;
    justify-content:space-evenly !important;
    align-items:center !important;
    text-align: center !important;
    bottom:0;
    width:100% !important;
    height:auto !important;
    font-size: 16px !important;
    color: #fff !important;
    background-color:#0442bf !important;
    border: solid 1px #fff !important;
    border-radius: 10px !important;
    transition: all ease .5s;
    padding:14px 0px 14px 0px !important;
}

.iwtOfferButton:hover {
    background-color: #FFFFFF !important;
    color: #0442bf !important;
    border-color: #0442bf !important;
    border: solid 2px #0442bf !important;
}

.iwtLogoIcon{
  width: 35px !important;
}

{% endstyle %}