{{ 'styles.css' | asset_url | stylesheet_tag }}
<script src="{{ 'iwtmodalbutton.js' | asset_url }}" defer="defer"></script>


  <div id="iwt-modal-container" class="modal-container">
    <div id="iwt-modal-content" class="modal-content">
      <span id="iwt-modal-close-btn" class="modal-close-button">&#9447;</span>
    <div id ="iwt-modal-content-container" class="modal-content-container">
      <div>
      <img src="{{ 'iwantthatio.png' | asset_url }}" class="iwt-logo" width="100" height="100">
      </div>
      <h2 class="h2">Welcome to I Want That!</h2>
      <p class="iwt-paragraph">We help buyers and seller come together to make deals on the things 
      they want to buy and sell.  No more guessing what discount to offer you.  
      Make your own best offer.  So fill out the form, give us your best shot!</p>
      <table id="iwt-cart-table" class="cart-table">
      </table>
        <form id="iwt-offer-form" class="form-container">
          <input type="hidden" id="shopURL" name="{{ shop.url }}">
          <input type="text" placeholder="name" id="iwt-display-name" name="consumer name" class="inputTXT">
          <input type="text" placeholder="email address" id="iwt-consumer-email" name="consumer email" class="inputTXT">
          <input type="text" placeholder="mobile number" id="iwt-consumer-mobile" name="consumer mobile" class="inputTXT">
          <input type="text" placeholder="postal code" id="iwt-consumer-postal" name="consumer postal" class="inputTXT">
          <input type="text" placeholder="offer amount" id="iwt-consumer-offer" name="consumer offer" class="inputTXT">      
          <div id="iwt-tos-container" class="terms">
            <input type="checkbox" id="iwt-terms">
            <label for="iwttos" class="tos-font">
              Checking this box indicates your acceptance of the 
              <a href="https://iwantthat.io/terms-of-service" target="_blank">Terms Of Service</a> of I Want That! Inc
            </label>
          </div>
            <div id="iwt-submit-offer-container" class="button-container">
              <button 
                id="submit-offer-button"
                class="iwt-submit-offer" 
                onclick="">
                Submit My Offer!
                <img src="{{ 'iwtlogoicon.png' | asset_url }}" class="iwt-logo-icon" width="30" height="30"> 
              </button>
            </div>
         </form>
        </div>
    </div>
  </div>
<div id="iwt-modal-offer-response" class="modal-offer-response" style="display: none"> 
  <div id="iwt-offer-accept" class="iwt-offer-accepted">
  </div>
  <div id="iwt-offer-decline" class="modal-offer-decline" style="display: none">
   </div>
</div>
